.introduction {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.socials {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin-top: 2.5%;
    margin-left: auto;
}

.greeting {
    font-size: 4rem;
    font-weight: bold;
}

.greeting span {
    color: #0070f3;
    text-decoration: none;
}

.category {
    font-size: 3rem;
    font-weight: 500;
    color: darkblue;
}

.description {
    justify-content: left;
}
  
.description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}