.greeting {
    font-size: 4rem;
}

.greeting span {
    color: #0070f3;
    text-decoration: none;
}

.home {
    font-size: 3rem;
}

.description {
    justify-content: left;
}
  
.description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}