.nav {
    max-height: 2vh;
    padding-top: 1%;
    background: #001440;
    color: #000;
    align-items: center;
    justify-content: flex-start;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav ul li a {
    margin: 5px 15px;
    font-weight: 500;
    font-size: large;
    color: white;
}